
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="name">Name</label>
            <input [(ngModel)]="name" type="text" name="name" id="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="des">description</label>
            <input [(ngModel)]="des" type="text" name="des" id="des" class="form-control">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input [(ngModel)]="price" type="number" name="price" id="price" class="form-control">
        </div>
        <button type="button" class="btn btn-success" (click)="onUpdate()">Update</button>
    </div>
</div>