<br>
<br>
<p>                                            A recipe is a set of instruction used for preparing and producing a certain food, dish, or drink.  The purpose of a recipe is to have a precise record of the ingredients used, the amounts needed, and the way they are combined.

(1)  The Recipe Name tells you what you will be making.  Sometimes the author will include personal information on the recipe.

(2)  There are three components to a recipe.  The first is the List of Ingredients, and the second is the Amount of the Ingredients.

(3)  The third is the Preparation Instructions.  A well-written recipe will list all ingredients in the order they will be added in the Preparation Instructions.  Most well-written recipes will spell out pan size, cooking temperature, and how much of each ingredient to use.  However, you will find some poorly written recipes that use abbreviations.

(4)  Some recipe will include Variations for the recipe and also how to Store your prepared dish.

Check out a sample of a well-written recipe below:

(1)  Recipe Name:

Lemon Curd

A British teatime favorite.  This sweet, yet tart, velvety spread is heavenly on freshly baked scones, muffins, and tea breads.  Another favorite is serving lemon curd on gingerbread or used as a filling for tarts and cakes.  Lemon curd is so easy-to-make as all it contains is eggs, sugar, lemon juice, lemon zest, and butter.


(2)  List of Ingredients and amount used:

3 to 4 tablespoons lemon zest (rind)*
1/2 cup fresh-squeezed lemon juice (4 to 6 lemons)**
1 1/2 cups granulated sugar
6 tablespoons salted butter, cut into pieces
3 eggs, lightly beaten

* Cold lemons are much easier to grate.  Always grate your lemons first, and then juice them.

** Do not use the bottled lemon juice – only use fresh-squeezed lemon juice.  Room temperature lemons produce more juice.  When choosing lemons, look for ones that are firm, plump, and heavy for their size.  Always use fresh lemons when making lemon curd.


(3)  Preparation Instructions:

Remove the zest (rind) from the lemons using a zester or a peeler (be careful to avoid getting any of the white pith).  Juice the lemons after removing the zest.

In a medium saucepan over medium-high heat, combine lemon zest, lemon juice, and sugar.  Bring just to a boil; reduce heat to medium-low and simmer 5 minutes.  Add butter and stir until it has melted.  Remove from heat and cool to room temperature.  NOTE: Use a heavy-based, non-reactive saucepan (stainless steel, anodized aluminum, and enamel all work well).  Aluminum or unlined copper pans will react with the acid in the lemons, discoloring the curd and giving it a metallic flavor.

Beat eggs into cooled lemon mixture until well blended.  Return to heat and cook over medium-low heat, stirring constantly, 10 to 15 minutes or until mixture thickens and coats spoon. NOTE: Do not let the lemon curd boil, as it can cause the mixture to curdle.  Remove from heat.  The lemon curd will continue to thicken as it cools.


(4)  Variation and Storing the Dish:

Variation:  For a Lime Curd, substitute lime zest and lime juice for the lemon zest and juice.

Storing Lemon Curd:  Cover by laying a layer of plastic wrap directly on the surface of the curd (this prevents a skin from forming on the surface).  Store in refrigerator for up to 4 weeks or store in the freezer for one year.


Read your recipe carefully before starting:  Be sure you have all the ingredients called for and that you understand the recipe clearly.  This is the reason most recipe fail.  If the recipe says “room temperature,” there is usually a reason.

When preparing a recipe for the first time, it is recommended that you follow the recipe exactly so you have an initial template of how the writer intended it to look and taste.  Then you can experiment from there.

Why a recipe does not work.
Yes, there are some recipes that do not work.  This is usually because of a misprint, an editing error, and the recipe not being tested properly before printing.  No matter how detailed the recipe is written, the recipe can not tell you everything you need to know.  Some judgment of your part is actually needed on certain variables, such as:

Kitchens are not stocked with the same equipment.  Pots and pans can vary according to the material used to make them.  Check out Choosing Cookware and Baking Dish and Pan Sizes.

Ranges and oven have temperature differences.

Ingredients were not measured carefully.  This is especially important when baking.  Check out Cooking Equivalent Measurements and Basic Rules for Baking.

Cooking times that have been given in the recipe are meant to be used as a guideline only.  If a cooking temperature is given as a means of determining doneness, this is usually accurate.  Check out Internal Cooking Temperature Chart.

You substituted ingredients improperly.  Replacing ingredients may result vastly different taste.  Could taste better or worse.  Check out Ingredient Substitution Chart.  The cook probably substituted an ingredient because they either:

Do not have or could not find one of the ingredients.

Wish to alter a recipe to lower the fat or calories.

Don’t have a particular piece of equipment to cook the recipe as instructed.  Some ingredients and cooking steps can be substituted or eliminated and some just cannot.

Ingredients Assumptions:
Unless otherwise noted in the recipe, assume that:

butter is unsalted

eggs are large (about 2 ounces each)

flour is unbleached all-purpose flour

sugar is white granulated

fresh herbs, greens, and lettuces are washed and dried

garlic, onions, and fresh ginger are peeled
</p>