#top
{
    display: flex;
    margin-top: 5px;
   
}
#whole
{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
    background-color: rgb(243, 139, 196);
    
}
.col
{
    display: -ms-flexbox;
}